@charset "utf-8";
/* CSS Document */

.btn{
	padding: 14px 30px 12px;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	font-family: haas-bold;
	border-radius: 50px;
}
.btn-small{
	padding: 5px 25px 3px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: haas-bold;
	border-radius: 50px;
	border: none;
}
.btn-sec{
	color: #1673d3 !important;
	border: 2px solid #1673d3;
	transition: all 0.3s ease-in-out;
}
.btn-sec:hover{
	color: white !important;
	border: 2px solid #1673d3;
	background-color: #1673d3;
}
.btn-sec-wyt{
	color: #ffffff !important;
	border: 2px solid #ffffff;
}
.btn-primary{
	background-color: #1673d3;
}
.btn-default{
	background-color: white;
	color: #1673d3;
}
.btn-sec-blk{
	color: #7e7e7e;
	border: 1px solid #7e7e7e;
}
input.form-control{
	border-radius: 50px;
	padding: 0 30px;
	border: none;
	height: 47px;
}
::placeholder {
    font-size: 14px;
}

:-ms-input-placeholder {
    font-size: 14px;
}

::-ms-input-placeholder {
    font-size: 14px;
}
.form-bm input.form-control{
	border: solid 1px #d1d1d1;
}
.navbar-light .navbar-toggler {
    color: transparent;
    border-color: rgba(0,0,0,0);
}
.navbar-toggler {
    padding: 0;
}
.custom-control-label::before {
    top: 7px;
    background-color: #dee2e6;
}
.custom-control-label::after {
    top: 7px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #1673d3;
}
.custom-control-input:checked~.custom-control-label::before {
    background-color: #1673d3;
}
label:focus{
	outline: none;
}
.form-control:focus {
	border-color: #1673d3 !important;
    box-shadow: none;
}
.modal-content{
	border-radius: 5px;
}
.modal-header{
	font-family: haas-medium;
	color: #393939;
/*	background-color: #f5f5f5;*/
	border-bottom: 1px solid #ddd;
}
.modal-body{
	box-shadow: 1px 2.5px 4px rgba(0,0,0,0.08);
/*	background-color: #f5f5f5;*/
	padding-top: 0;
	padding-bottom: 0;
}
.modal-footer{
	background-color: #eaeaea;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.modal-title{
	font-size: 18px;
}
@media (min-width: 768px){
	.modal-dialog {
		max-width: 600px;
	}
}


