@charset "utf-8";
/* CSS Document */

#hero{
	background: url(../img/hero3.jpg) no-repeat center center;
	height: 600px;
	background-size: cover;
	color: white;
}
.hero-caption{
	font-size: 44px;
	font-family: haas-bold;
	letter-spacing: -.5px;
	line-height: 35px;
}
.hero-search{
	padding: 55px 30px 70px;
/*	border: 2px solid white;*/
}
.lead{
	font-size: 26px;
	font-family: opensans-light;
	opacity: 0.7;
}
#about .lead{
	opacity: 1;
	font-family: opensans-regular;
	line-height: 38px;
}
.step-wrap{
	padding-left: 50px;
}
.steps-carousel{
	position: relative;
}
.carousel-controls{
	position: absolute;
	right: 0;
	top: 0;
}
.cntrl-disabled{
	opacity: 0.6;
	pointer-events: none;
}
.cntrl{
	padding: 10px 20px;
	color: white;
	background-color: #1673d3;
	font-size: 20px;
    border: none;
	cursor: pointer;
}
.abt-title{
	font-size: 60px;
	line-height: 55px;
	font-family: haas-bold;
	color: #393939;
	padding: 0 50px;
}
@media(max-width: 1204px){
	.hero-caption {
		font-size: 40px;
	}
}
@media(max-width: 991px){
	.abt-title{
		padding: 0 80px;
		font-size: 55px;
		line-height: 50px;
	}
	.category-wrap{
		margin-bottom: 30px;
	}
}
@media(max-width: 900px){
	.step-wrap{
		padding-left: 0;
	}
}
@media(max-width: 822px){
	.hero-input-wrap {
		width: 200px;
	}
	.abt-title{
		padding: 0 40px;
	}
}
@media(max-width: 767px){
	.hero-input-wrap {
		width: 200px;
	}
	.abt-title{
		padding: 0 30px;
	}
	.p-large {
		font-size: 22px;
		line-height: 36px;
	}
	.step-wrap{
		padding-top: 40px;
	}
}
@media(max-width: 662px){
	.hero-input-wrap {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.search-hero{
		width: 100%;
	}
	.abt-title{
		padding: 0;
		font-size: 50px;
		line-height: 40px;
	}
}
@media(max-width: 450px){
	.hero-search {
		border: none;
		padding-left: 10px;
		padding-right: 10px;
	}
	.abt-title{
		font-size: 45px;
		line-height: 40px;
	}
	.p-large {
		font-size: 20px;
		line-height: 35px;
	}
}
@media(max-width: 425px){
	.hero-search {
		padding-left: 0px;
		padding-right: 0px;
	}
	.hero-caption {
		font-size: 36px;
		line-height: 40px;
	}
	.abt-title{
		font-size: 36px;
		line-height: 33px;
	}
}


