@charset "utf-8";
/* CSS Document */

body{
	color: #7e7e7e;
	font-family: opensans-regular;
	line-height: 30px;
	font-size: 16px;
}
.container-fluid, #nav{
	padding-left: 140px;
	padding-right: 140px;
}
.font-blk{
	color: #393939 !important;
}
.font-wyt{
	color: white !important;
}
.font-blue{
	color: #1673D3 !important;
}
.lead{
	font-size: 24px;
	line-height: 38px;
}
.lh-0{
	line-height: 0;
}
.op-6{
	opacity: 0.6;
}
.grey-bg{
	background-color: #f5f5f5;
}
.blue-bg{
	background-color: #1673D3;
}
.white-bg{
	background-color: #ffffff;
	border: 1px solid #e3e5e6;
}
.carousel-controls{
	position: absolute;
	right: 0;
	top: 0;
}
.cntrl-disabled{
	opacity: 0.6;
	pointer-events: none;
}
.cntrl{
	padding: 10px 20px;
	color: white;
	background-color: #1673d3;
	font-size: 20px;
    border: none;
	cursor: pointer;
}
.main-title{
	font-size: 36px;
	font-family: haas-bold;
/*	color: #196bb3;*/
	color: #393939;
	line-height: 44px;
}
#top-menu{
	height: 50px;
	line-height: 50px;
}
#top-menu a{
	color: #505050;
	font-size: 12px;
	font-family: haas-regular;
}
ul.top-left li{
	float: left;
	padding-right: 20px;
}
ul.top-left li a{
	letter-spacing: 1px;
}
ul.top-right li{
	float: right;
	padding-left: 20px;
}
.page-title{
	font-size: 30px;
	color: #393939;
	margin: 40px 0;
	font-family: haas-medium;
}
.hero-form{
	display: inline-block;
}
.hero-input-wrap{
	display: inline-block;
	width: 260px;
	margin-right: 5px;
}
.hero-input-wrap input{
	background-color: rgba(255,255,255,0.2);
}
.hero-input ::-webkit-input-placeholder {
	color: white;
	font-size: 16px;
}
.hero-input ::-moz-placeholder {
	color: white;
	font-size: 16px;
}
.hero-input :-ms-input-placeholder {
	color: white;
	font-size: 16px;
}
.hero-input :-moz-placeholder {
	color: white;
	font-size: 16px;
}
.title-font{
	font-family: haas-medium;
	color: #393939;
	font-size: 24px;
}
.header-bg-first {
	background-color: transparent;
	transition: background-color 0.5s ease-in-out;
	position: absolute;
	width: 100%;
	top: 52px;
	padding: 15px 0 15px;
}
.header-bg-second {
	background-color: #1673d3;
	padding: 15px 0 15px;
	transition: background-color 0.5s ease-in-out;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 5;
}
li.active a.nav-link{
	opacity: 1 !important;
	font-family: haas-medium;
}
a.nav-link{
	font-size: 12px;
	font-family: haas-regular;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white !important;
	opacity: 0.8;
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.nav-ryt-item li{
	float: right;
	padding: 0 15px;
}
.nav-ryt-item li:last-child{
	padding-right: 0;
}
.nav-ryt-item li a{
	color: white;
	font-size: 12px;
	font-family: haas-regular;
	letter-spacing: 1px;
}
.slide-btn{
	border: 2px solid white;
	color: white !important;
}
.page-section{
	padding-top: 90px;
	padding-bottom: 90px;
}
.p-large{
	font-size: 20px;
	line-height: 38px;
}
.p-small{
	font-size: 14px !important;
}
.title-mb{
	margin-bottom: 70px;
}
.sub-title{
	font-size: 24px;
	font-family: haas-medium;
}
p.bold{
	font-family: opensans-semi;
}
.card-text{
	font-family: haas-medium;
	font-size: 20px;
}
.card-text a{
	color: #393939;
}
.site-credit{
	font-family: haas-regular;
}
#footer{
	font-size: 14px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer-socials{
	text-align: right;
}
.footer-socials ul{
	display: inline-block;
}
.footer-socials li{
	float: left;
	padding-right: 30px;
	font-size: 16px;
}
.footer-socials li:last-child{
	padding-right: 0px;
}

/*** INNER PAGES ***/
.innerheader .btn-sec{
	color: #ffffff !important;
	border-color: #ffffff;
}
.innerheader{
	padding: 15px 0;
	height: 79px;
}
.innerheader-pos{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
}
.bc-pad{
	margin-top: 79px;
}
.innerNav{
	padding: 21px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
}
.innerbody{
	margin-top: 79px;
}

/** SEARCH BEGIN **/

#search-takeover{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: white;
	z-index: 10;
	top: 0;
	overflow: hidden;
	transition: right 0.5s ease-in-out;
	right: 0;
}
#search-takeover .close{
	position: absolute;
	right: 30px;
	top: 30px;
}
.hide-search{
	right: -100vw !important;
}

/** SEARCH END **/

/*** END INNER PAGES ***/

.card-bm{
	margin-bottom: 30px;
}

@media(max-width: 1466px){
	.container-fluid, #nav{
		padding-left: 80px;
		padding-right: 80px;
	}
}

@media(max-width: 1204px){
	.container-fluid, #nav{
		padding-left: 50px;
		padding-right: 50px;
	}
	.hero-caption {
		font-size: 42px;
	}
}

@media(max-width: 1024px){
	.page-section{
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

@media(max-width: 992px){
	.page-title{
		font-size: 26px;
		margin: 20px 0;
	}
}

@media(max-width: 814px){
	.c-s li:first-child{
		display: none;
	}
}

@media(max-width: 767px){
	.container-fluid, #nav{
		padding-left: 30px;
		padding-right: 30px;
	}
	#footer{
		text-align: center !important;
	}
	.footer-socials{
		text-align: center;
		margin-top: 20px;
	}
	body{
		line-height: 26px;
		font-size: 14px;
	}
}

@media(max-width: 600px){
	.page-section{
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media(max-width: 488px){
	.p-s li:last-child{
		display: none;
	}
}

@media(max-width: 450px){
	.container-fluid, #nav{
		padding-left: 15px;
		padding-right: 15px;
	}
	.card-bm{
		margin-bottom: 15px;
	}
}

@media(max-width: 421px){
	.p-s li a, .c-s li a{
		font-size: 10px !important;
	}
}
@media(max-width: 320px){
	.p-s li a, .c-s li a{
		font-size: 8px !important;
	}
}



