@charset "utf-8";
/* CSS Document */

.search-wrap{
	font-size: 14px;
}
.search-wrap .card-body{
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}
.search-wrap .prov-avatar{
	border: 4px solid #fff;
	height: 98px;
	width: 98px;
	border-radius: 120px;
	display: inline-block;
	background-color: white;
}
.search-wrap .prov-det{
	margin-top: -45px;
}
.search-wrap .prov-job-title{
	font-size: 18px;
}
.search-wrap .card {
	margin-bottom: 30px;
}
.search-wrap .card-footer {
    background-color: transparent;
}
.search-wrap .prov-img-bg{
	position: relative;
	overflow: hidden;
}
.search-wrap .card .prov-img-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
/*	width: 0;*/
	background-color: rgba(0,0,0,0.2);
/*	transition: width 0.3s ease-in-out;*/
	transition: opacity 0.3s ease-in-out;
}
.search-wrap .card:hover .prov-img-overlay{
/*	width: 100%;*/
	opacity: 1;
}
.search-wrap .card{
	cursor: pointer;
}





